<!-- This is an HTML template for the title slide. -->
<!-- Embed logos as necessary. -->
<!-- <a class="nooutlink" href="url"><img class="state-background your-logo-class" src="whatever.png" alt="Whatever" /></a> -->
<div class="talk-title">
    <h1 class="no-toc-progress">%t</h1>
</div>
<h4>Semester 5, B.E. CSE</h4>
<div class="talk-subtitle">
    <p>%s</p>
</div>
<div class="talk-author">
  <p>%a<br />
    %d</p>
</div>
<div class="talk-logo">
  <img src="./img/ssn-small.jpeg" alt="SSN Logo"/>  
</div>
<div class="open-close-video">
  <video preload="auto" data-audio-controls src="./video/01-open.m4v" width="320" height="240">
</video>
</div>
<!--
<div class="open-close-video">
  <video src="./video/out.mp4" width="320" height="240" controls autoPlay>
</video>
</div>
-->
<!--
<div class="open-close-video">
  <video preload="auto" data-audio-controls src="file:///home/milton/course/ai/notes/video/sample.mp4" width="320" height="240">
</video>
</div>
-->
<!--
<div class="talk-logo">
  <img src="./ssn-small.jpg" alt="SSN Logo"/>  
</div>
-->
